/bootstrap/*
/node_modules
/public/postalExchange
/public/visitorLog
/public/hot
/public/storage
/public/documents
/public/images
/public/downloads
/public/assignments/*
/public/web
/public
public/contact-directory
/storage/*.key
/storage/*
/vendor
/ref
/.vagrant
/tests
.env
.idea
.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
